

<img class=" rounded justify-contnet-center" src="../../assets/imgs/Group 1173.svg">



<!-- <div class="container">
  <div class="justify-content-center md-5">
    <div class="col-md-8 text-center">
      <h2 class="heading mb-4">Testimonial</h2>
      <p class="mb-5 lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo doloribus voluptatibus quae
        quibusdam! Nam voluptas nihil, fugit rerum assumenda praesentium suscipit atque voluptate, cum, ipsa vitae.
        Optio facilis cum autem.</p>
    </div>
  </div>



      <div class="owl-carousel">
        <div class="item">
          <div class="block-33">
            <div class="vcard d-flex mb-3">
              <div class="image align-self-center"><img src="" alt=""></div>
              <div class="name-text align-self-center">
                <h2 class="headig">Veizh Robert</h2>
                <span class="meta">Warsaw, Poland</span>
              </div>
            </div>
            <div class="text">
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis, aliquam excepturi autem impedit dolore est illo incidunt rem quam beatae asperiores reprehenderit similique architecto nemo debitis laudantium deserunt. Aperiam.</p>
              </blockquote>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="block-33">
            <div class="vcard d-flex mb-3">
            <div class="image align-self-center"><img src="" alt=""></div>
              <div class="name-text align-self-center">
                <h2 class="headig">Veizh Robert</h2>
                <span class="meta">Warsaw, Poland</span>
              </div>
          </div>
        <div class="text">
          <blockquote>
            <p>Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been
              no problems.
              LaslesVPN always the best”</p>
          </blockquote>
      </div>
    </div>
        </div>
      </div>
</div> -->

      
        <!-- </div>
        <div class="media-body">
          <a href="#" class="anchor-username">
            <h4 class="media-heading">Bayu Darmantra</h4>
          </a>
          <a href="#" class="anchor-time">Warsaw, Poland</a>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <a href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
    </div>
  </div>
  </section>
  <section class="post-body">

  </section>
  <section class="post-footer">
    <hr>

    <div class="post-footer-comment-wrapper">
      <div class="comment-form">

      </div>

    </div> -->