<!-- Footer -->
<footer class="page-footer font-small  pt-4">

    
    

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <div>
                    <img src="../../assets/imgs/Logo.svg" class="img-logo" alt="">
                </div>
                <div class="text-content">
                    <p><span class="text-uppercase">LaslesVPN</span> is a private virtual network that has unique
                        features and has high security</p>
                </div>
                <div>
                    <img src="../../assets/imgs/Socmed/Facebook.svg" class="img-facebook" alt="">
                    <img src="../../assets/imgs/Socmed/Instagram.svg" class="img-insta" alt="">
                    <img src="../../assets/imgs/Socmed/Twitter.svg" class="img-twitter" alt="">
                </div>
                <div class="footer text-center py-3">© 2020 LaslesVPN:

                </div>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

           

                <!-- Links -->
                <h5 class="text-uppercase">Product</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="list-item">Download</a>
                    </li>
                    <li>
                        <a href="#!">Pricing</a>
                    </li>
                    <li>
                        <a href="#!">Locations</a>
                    </li>
                    <li>
                        <a href="#!">Server</a>
                    </li>
                    <li>
                        <a href="#!">Countries</a>
                    </li>
                    <li>
                        <a href="#!">Blog</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            
                <!-- Links -->
                <h5 class="text-uppercase">Engage</h5>

                <ul class="list-unstyled-2">
                    <li>
                        <a class="list-item-2">LaslesVPN</a>
                    </li>
                    <li>
                        <a href="#!">FAQ</a>
                    </li>
                    <li>
                        <a href="#!">Tutorials</a>
                    </li>
                    <li>
                        <a href="#!">About Us</a>
                    </li>
                    <li>
                        <a href="#!">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#!">Terms of Sevice</a>
                    </li>
                </ul>


                
                    <h5 class="text-uppercase">Engage</h5>

                    <ul class="list-unstyled-3">
                        <li>
                            <a >LaslesVPN</a>
                        </li>
                        <li>
                            <a>Become partner</a>
                        </li>
                    </ul>
                


           

        
</footer>
<!-- Footer -->