<!-- Footer -->
<footer class="page-footer font-small  pt-4">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <div>
                    <img src="../../assets/imgs/Logo.svg" class="img-logo" alt="">
                </div>
                <div class="text-content">
                    <p><span class="text-uppercase">LaslesVPN</span> is a private virtual network that has unique
                        features and has high security</p>
                </div>
                <div>
                    <img src="../../assets/imgs/Socmed/Facebook.svg" class="img-facebook" alt="">
                    <img src="../../assets/imgs/Socmed/Instagram.svg" class="img-insta" alt="">
                    <img src="../../assets/imgs/Socmed/Twitter.svg" class="img-twitter" alt="">
                </div>
                <div class="footer-2020 text-start py-3">© 2020 LaslesVPN:

                </div>
            </div>
            <!-- Grid column -->

            

           

                <!-- Links -->
                <div class="justify-content-start">
                <h5 class="text-uppercase">Product</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="list-item">Download</a>
                    </li>
                    <li>
                        <a class="list-item" >Pricing</a>
                    </li>
                    <li>
                        <a class="list-item">Locations</a>
                    </li>
                    <li>
                        <a class="list-item">Server</a>
                    </li>
                    <li>
                        <a class="list-item">Countries</a>
                    </li>
                    <li>
                        <a class="list-item">Blog</a>
                    </li>
                </ul>
                </div>

            </div>
            <!-- Grid column -->

            
                <!--Links-->
                <div class="justify-content-start">
                <!-- <h5 class="text-uppercase">Engage</h5>

                <ul class="list-unstyled-2">
                    <li>
                        <a class="list-item-2">LaslesVPN</a>
                    </li>
                    <li>
                        <a href="list-item-2">FAQ</a>
                    </li>
                    <li>
                        <a href="list-item-2">Tutorials</a>
                    </li>
                    <li>
                        <a href="list-item">About Us</a>
                    </li>
                    <li>
                        <a href="list-item">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="list-item">Terms of Sevice</a>
                    </li>
                </ul> -->
            </div>


                

                


           

        
</footer>
<!-- Footer -->