<section>
<div class="background">
    <div class="container">
      <div class="row justify-content-start">
        <div class="col-lg-6 col-md-10">
          <div class="section-title text-start">
            <h3 class="price-title">Choose Your Plan</h3>
            <p class="price-text">Let's choose the package that is best for you and explore it happily and cheerfully.!</p>
          </div> <!-- section title -->
        </div>
      </div> <!-- row -->
      <div class="panel pricing-table">
  
        <div class="pricing-plan">
          <img src="../../assets/imgs/Standard.svg" alt="" class="pricing-img">
          <h3 class="pricing-header">Free Plan</h3>
          <ul class="pricing-features">
            <li class="pricing-features-item">Unlimited Bandwitch</li>
            <li class="pricing-features-item">Encrypted Connection</li>
            <li class="pricing-features-item">No Traffic Logs</li>
            <li class="pricing-features-item">Works on All Devices</li>
          </ul>
          <span class="pricing-price">Free</span>
          <a href="#/" class="pricing-button">Sign up</a>
        </div>
  
        <div class="pricing-plan">
          <img src="../../assets/imgs/Premium.svg" alt="" class="pricing-img">
          <h3 class="pricing-header">Standard Plan</h3>
          <ul class="pricing-features">
            <li class="pricing-features-item">Unlimited Bandwitch</li>
            <li class="pricing-features-item">Encrypted Connection</li>
            <li class="pricing-features-item">No Traffic Logs</li>
            <li class="pricing-features-item">Works on All Devices</li>
            <li class="pricing-features-item">Connect Anyware</li>
          </ul>
          <span class="pricing-price-2">$150</span>
          <a href="#/" class="pricing-button-2 is-featured">Free trial</a>
        </div>
  
        <div class="pricing-plan">
          <img src="../../assets/imgs/Standard.svg" alt="" class="pricing-img">
          <h3 class="pricing-header">Premium Plan</h3>
          <ul class="pricing-features">
            <li class="pricing-features-item">Unlimited Bandwitch</li>
            <li class="pricing-features-item">Encrypted Connection</li>
            <li class="pricing-features-item">No Traffic Logs</li>
            <li class="pricing-features-item">Works on All Devices</li>
            <li class="pricing-features-item">Connect Anyware</li>
            <li class="pricing-features-item">Get New Features</li>
          </ul>
          <span class="pricing-price-3">$400</span>
          <a href="#/" class="pricing-button-3">Free trial</a>
        </div>
  
      </div>
    </div>
  </div>
</section>