<section class="features">
    <div class="row justify-content-start">
        <img src="../assets/imgs/Illustration 2.svg" alt="">
    </div>
    <div class="row justify-content-end">
      <div class="col-lg-6 col-md-10">
        <div class="section-title text-center pb-10">
          <h3 class="title">We Provide Many features you Can Use</h3>
          <p class="text">You can explore the fetures that we provide with ease and fun and have their own functions each
            feature</p>
        </div> <!-- row -->
      </div>
    </div>
  </section>