img.features{  
width: 508.12px;
height: 414.71px;
left: 184.52px;

}
.feature-title{
margin-top: 150px;
left: 169.12px;

font-family: sans-serif;
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 50px;
color: #0B132A;}

.feature-text{
    
width: 427.88px;
height: 60px;
left: 169.12px;
font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
color: #4F5665;
}
.float-left{
    margin-left: 182px;
    margin-top: 95.83px;
    width: 508.12px;
    height: 414.71px;
}