<section class="features">
  <div class="img-fluid">
    <img class="rounded float-left" src="../../assets/imgs/Illustration 2.svg" alt="">
  </div>
    <div class="row">

    

    <div class="row justify-content-end">
      
        <div class="section-title  ">
          <h3 class="feature-title">We Provide Many features you Can Use</h3>
          <p class="feature-text">You can explore the fetures that we provide with ease and fun and have their own functions each
            feature</p>
            <ul class="feature-list">
              <div>
               <li> <img src="../../assets/imgs/Group 1122.svg" class="list-img"><a class="list-item">Powerful Online Protection</a></li>
              
              </div>
              <li class="list-item">Internet Without Borders</li>
            <div>
              <li class="list-item">Supercharged VPN</li>
            </div>
              <li class="list-item">No Specific Time limits</li>
              
            </ul>
          </div>
        
      </div>
    </div>
    
  </section>