<section class="features">
    <div class="row">
      <div class="img-fluid">
        <img class="rounded float-left" src="../../assets/imgs/Illustration 2.svg" alt="">
      </div>
    </div>
    
    <div class="row justify-content-end">
      <div class="col-lg-6 col-md-10">
        <div class="section-title  ">
          <h3 class="feature-title">We Provide Many
             features you Can Use</h3>
          <p class="feature-text">You can explore the fetures that we provide with ease and fun and have their own functions each
            feature</p>
            <ul>
              <li>Powerful Online Protection</li>
              <li>Internet Without Borders</li>
              <li>Supercharged VPN</li>
              <li>No Specific Time limits</li>
              
            </ul>
        </div> <!-- row -->
      </div>
    </div>
  </section>