.about-title{
width: 555px;
height: 140px;
margin-left: 150px;
margin-top: 126.77px;
font-family: sans-serif;
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 70px;
color: #0B132A;}

.about-text{
width: 555px;
height: 60px;
margin-left: 150px;
margin-top: 30;
font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
color: #4F5665;
}
 .float-right{
    
    margin-right:83px;
    margin-top:109px;
    
}


.button-rounded{
width: 250px;
height: 60px;
margin-left: 114.9px;
margin-top: 50px;


background: #F53838;
border-radius: 10px;
color: white;
}