<!--     -->
<section class="" id="">
    <div class="containter">
      <div id="row justify-content-end">
        <!-- <img src="../assets/imgs/Illustration 1.svg" class="row justify-content-end" alt=""> -->
      </div>
      <div class="row">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="content">
              <h1 class="about-title">Want anything to be easy with LASLESVPN</h1>
              <!-- <h1 class="title-bold">LasLesVPN</h1> -->
              <p class="about-text">Provide a network for all your needs with easeand fun using LasLesVPN
                discover interesting feature from us</p>
              <ul class="slider-btn rounded-button">
                <li class="main-btn rounded-one"><a class="main-btn-text" href="#">GET STARTED</a></li>
                <!-- <li><a class="main-btn rounded-two" href="#">DOWNLOAD</a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
