<section class="navbar-area">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="#">
                        <img src="../assets/imgs/Logo.svg" alt="">
                    </a>
                    <div class="collapse navbar-collapse" id="navbarTwo">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <a class="nav-link-1" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link-2" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link-3" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link-4" href="#">Testamnials</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link-5" href="#">Help</a>
                            </li>
                        </ul>
                    </div> <!-- collapse navbar-collapse -->
                    <div class="navbar-btn d-none d-sm-inline-block">
                        <ul>
                            <li><a class="solid" href="#">Sign In</a></li>
                            <li><a class="solid" href="#">Sign Up</a></li>
                        </ul>
                    </div>
                </nav> <!-- navbar navbar-expand-lg -->
            </div>
        </div>
        <!--row-->
    </div>
    <!--container -->
  </section> <!-- navbar-area -->