<app-about></app-about>
<app-features></app-features>
<app-price></app-price>

<app-map></app-map>



<hr>

<!-- Call to action -->
<!-- <ul class="list-unstyled list-inline text-center py-2">
  <li class="list-inline-item">
    <h5 class="mb-1">Subscribe Now For Special Features</h5>
  </li>
  <li class="list-inline-item">
    <a href="#!" class="btn btn-danger btn-rounded">Subscribe Now</a>
  </li>
</ul> -->
<!-- Call to action -->

<hr>
<app-footer></app-footer>

<router-outlet></router-outlet>