<app-navbar></app-navbar>
<app-about></app-about>

<app-usl></app-usl>

  <!-- <hr class="rounded" style="margin-left: 150px;">
  <ul class="list-rounded list-inline text-center py-5" style="background-color: beige; margin: 0px 150px 0px 150px;">
    <li class="list-inline-item">
      <h4 class="heading">Subscribe Now For Special Features</h4>
    </li>
    <li class="list-inline-item">
      <a href="#!" class="btn btn-danger btn-rounded">Subscribe Now</a>
    </li>
  </ul>
  
  <hr> -->
  
  
<app-features></app-features>
<app-price></app-price>

<app-map></app-map>
<app-testamonials></app-testamonials>

<!-- Call to action -->
<section>
<hr class="rounded" style="margin-left: 150px; margin-right: 150px;">
<ul class="list-rounded list-inline text-center py-5" style="background-color:#ffffff; margin: 0px 150px 0px 150px;">
  <li class="list-inline-item">
    <h4 class="heading">Subscribe Now For Special Features</h4>
  </li>
  <li class="list-inline-item">
    <a href="#!" class="btn btn-danger btn-rounded">Subscribe Now</a>
  </li>
</ul>
<!-- Call to action -->

</section>

<app-footer></app-footer>

