<app-navbar></app-navbar>
<app-about></app-about>

<section id="Services" class="features-area">
  <div class="container">
      <div class="row justify-content-center">
          <div class="single-features mt-40">
              <div class="d-flex justify-content-between">
                  <div class="features-title">
                      <h4 class="features-title"><a href="#">90+</a></h4>
                      <img class="shape" src="../assets/images/user-icon1.png" alt="Shape">
                      <div class="features-content">
                          <p class="text">Users</p>
                          <a class="features-btn" href="#">Learn More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="single-features mt-40">
          <div class="d-flex justify-content-between">
              <div class="features-title">
                  <h4 class="features-title"><a href="#">90+</a></h4>
                  <img class="shape" src="../assets/images/user-icon1.png" alt="Shape">
                  <div class="features-content">
                      <p class="text">Users</p>
                      <a class="features-btn" href="#">Learn More</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="single-features mt-40">
          <div class="d-flex justify-content-between">
              <div class="features-title">
                  <h4 class="features-title"><a href="#">90+</a></h4>
                  <img class="shape" src="../assets/images/user-icon1.png" alt="Shape">
                  <div class="features-content">
                      <p class="text">Users</p>
                      <a class="features-btn" href="#">Learn More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </section>

  <!-- <hr class="rounded" style="margin-left: 150px;">
  <ul class="list-rounded list-inline text-center py-5" style="background-color: beige; margin: 0px 150px 0px 150px;">
    <li class="list-inline-item">
      <h4 class="heading">Subscribe Now For Special Features</h4>
    </li>
    <li class="list-inline-item">
      <a href="#!" class="btn btn-danger btn-rounded">Subscribe Now</a>
    </li>
  </ul>
  
  <hr> -->
  
  
<app-features></app-features>
<app-price></app-price>

<app-map></app-map>
<app-testamonials></app-testamonials>

<!-- Call to action -->
<section>
<hr class="rounded" style="margin-left: 150px;">
<ul class="list-rounded list-inline text-center py-5" style="background-color: beige; margin: 0px 150px 0px 150px;">
  <li class="list-inline-item">
    <h4 class="heading">Subscribe Now For Special Features</h4>
  </li>
  <li class="list-inline-item">
    <a href="#!" class="btn btn-danger btn-rounded">Subscribe Now</a>
  </li>
</ul>
<!-- Call to action -->
<hr>
</section>

<app-footer></app-footer>

