<section id="Services" class="features-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="single-features mt-40">

            </div>
        </div>
        <div class="single-features-2 ">
            <div class="d-flex justify-content-center">
                <div class="features-title-2">
                    <h4 class="features-title-2"><a>30+</a></h4>
                    <img class="shape" src="../../assets/imgs/user.svg" alt="Shape">
                    <div class="features-content">
                        <p class="text">Locations</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="single-features-3 ">
            <div class="d-flex justify-content-end">
                <div class="features-title-3">
                    <h4 class="features-title-3"><a>50+</a></h4>
                    <img class="shape" src="../../assets/imgs/Server.svg" alt="Shape">
                    <div class="features-content">
                        <p class="text">Servers</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
